[submodule "roles/boutetnico.gitconfig"]
	path = roles/boutetnico.gitconfig
	url = https://github.com/boutetnico/ansible-role-gitconfig
[submodule "roles/yogo1212.ansible-go"]
	path = roles/yogo1212.ansible-go
	url = https://github.com/yogo1212/ansible-go
[submodule "roles/suzuki-shunsuke.tmux-tpm"]
	path = roles/suzuki-shunsuke.tmux-tpm
	url = https://github.com/suzuki-shunsuke/ansible-tmux-tpm
[submodule "roles/geerlingguy.git"]
	path = roles/geerlingguy.git
	url = https://github.com/geerlingguy/ansible-role-git
[submodule "roles/gikeymarcia.neovim"]
	path = roles/gikeymarcia.neovim
	url = https://github.com/gikeymarcia/ansible-role-neovim
[submodule "collections/ansible_collections/quera/github"]
	path = collections/ansible_collections/quera/github
	url = https://github.com/QueraTeam/ansible-github.git
[submodule "roles/githubixx.kubectl"]
	path = roles/githubixx.kubectl
	url = https://github.com/githubixx/ansible-role-kubectl.git
	branch = 26.0.0+1.35.1
[submodule "roles/ctorgalson.nerdfonts"]
	path = roles/ctorgalson.nerdfonts
	url = https://github.com/ctorgalson/ansible-role-nerdfonts
[submodule "collections/ansible_collections/drew1kun/fancyfonts"]
	path = collections/ansible_collections/drew1kun/fancyfonts
	url = https://github.com/drew1kun/ansible-collection-fancyfonts
[submodule "collections/ansible_collections/kewlfft/aur"]
	path = collections/ansible_collections/kewlfft/aur
	url = https://github.com/kewlfft/ansible-aur
