---
- name: Create config directory
  become: false
  ansible.builtin.file:
    path: "{{ env_home }}/.config"
    state: directory
    mode: "0755"

- name: Create config iamb directory
  become: false
  ansible.builtin.file:
    path: "{{ env_home }}/.config/iamb"
    state: directory
    mode: "0755"

- name: Install iamb config
  ansible.builtin.template:
    src: templates/config.toml.j2
    dest: "{{ env_home }}/.config/iamb/config.toml"
    owner: "{{ env_user }}"
    mode: '0600'

- name: Install iamb
  become: true
  quera.github.install_from_github:
    repo: ulyssa/iamb
    tag: "v{{ software_version_iamb }}"
    version_command: iamb --version
    asset_regex: ^iamb.*\.tgz$
    move_rules:
      - src_regex: iamb.*/iamb$
        dst: /usr/local/bin/iamb
        mode: "0755"
