---
- name: Make sure git directory exists
  become: true
  file:
    path: "/usr/libexec/git-core"
    state: directory
    mode: "0755"
    
- name: Download git-subtree
  become: true
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/git/git/v{{ git_version }}/contrib/subtree/git-subtree.sh"
    dest: '/usr/libexec/git-core/git-subtree'
    mode: '0755'

# Start direct downloads

- name: Create a list of direct download links
  ansible.builtin.set_fact:
    software_direct_download_links:
      - { url: "https://github.com/argoproj/argo-cd/releases/download/v{{ software_version_argocd }}/argocd-{{ deb_os }}-{{ deb_architecture }}", "name": "argocd", "version": "v{{ software_version_argocd }}", "version_cmd": "version" }

- name: Determine versions
  ansible.builtin.command: "sh -c 'command -v /usr/local/bin/{{ item.name }} 2>/dev/null 1>/dev/null && /usr/local/bin/{{ item.name }} {{ item.version_cmd }}; true'"
  register: software_direct_download_links_version_cmds
  with_items: "{{ software_direct_download_links }}"

- name: Install direct download links
  become: true
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    force: "{{ item.version not in software_direct_download_links_version_cmds.results[download_links_idx].stdout }}"
    dest: /usr/local/bin/{{ item.name }}
    mode: '0755'
  with_items: "{{ software_direct_download_links }}"
  loop_control:
    index_var: download_links_idx

# Start Debs

- name: repo
  become: true
  when: ansible_facts["os_family"] == "Debian"
  block:
    - name: remove old style file
      file:
        path: "/etc/apt/sources.list.d/halkeye_github_io_deb_repo.list"
        state: absent

    - name: create modern style sources
      copy:
        dest: "/etc/apt/sources.list.d/halkeye_github_io_deb_repo.sources"
        mode: 0644
        owner: root
        content: |
          Types: deb
          URIs: https://halkeye.github.io/deb-repo/
          Suites: {{ ansible_distribution_release }}
          Components: main
          AllowInsecure: yes
          Trusted: yes

    - name: "create my repo priority file"
      ansible.builtin.copy:
        dest: "/etc/apt/preferences.d/priority-halkeye"
        content: |
          Package: *
          Pin: release o=halkeye
          Pin-Priority: 2000
        owner: "root"
        mode: '0755'

- name: Create list of debs
  ansible.builtin.set_fact:
    software_debs:
      - act
      - actionlint
      - age
      # - air
      # - bump
      - dive
      - doctl
      - doctl
      - fd
      - fx
      - fzf
      # - gh
      - git-absorb
      - git-delta
      - glab
      - goreleaser
      - gron
      # - grpcui
      # - grpcurl
      # - hadolint
      - helm
      - helmfile
      # - humanlog
      # - jwt
      - kubectx
      - kustomize
      - lsd
      - lychee
      - mc
      # - regclient
      # - rover
      # - shcopy
      - shellcheck
      - sops
      - stern
      - tailspin
      - task
      - typos
      - vale
      - vivid
      - zoxide

- name: Install package
  become: true
  when: ansible_facts["os_family"] == "Debian"
  ansible.builtin.apt:
    name: "{{ software_debs }}"
    update_cache: yes

- name: Install package
  become: true
  when: ansible_facts["os_family"] == "Archlinux"
  ansible.builtin.pacman:
    name: "{{ software_debs }}"
    update_cache: yes

# Done Debs

- name: Create ~/config/humanlog directory
  become: no
  file:
    path: "{{ env_home }}/.config/humanlog"
    state: directory
    mode: "0755"

- name: "copy humanlog config"
  become: true
  ansible.builtin.copy:
    dest: "{{ env_home }}/.config/humanlog/config.json"
    content: '{"truncate-length": 1999, "skip_check_updates": true}'
    owner: "{{ env_user }}"
    mode: '0755'

