---
- name: Install required packages
  become: true
  when: ansible_facts["os_family"] == "Debian"
  ansible.builtin.apt:
    name:
      - socat
      - wslu
    state: present

- name: Remove local xdg-open
  become: true
  ansible.builtin.file:
    state: absent
    path: /usr/local/bin/xdg-open

- name: Map wslview to xdg-open
  become: true
  ansible.builtin.file:
    state: link
    src: /usr/bin/wslview
    dest: /usr/bin/xdg-open

- name: Symlink to windows directories
  become: false
  when: windows_username is defined
  with_items:
    - Documents
    - Downloads
  ansible.builtin.file:
    src: "/mnt/c/Users/{{ windows_username }}/{{ item }}"
    dest: "{{ env_home }}/{{ item }}"
    state: link

- name: Copy wezterm config
  when: windows_username is defined
  ansible.builtin.include_role:
    name: halkeye.wezterm
    tasks_from: config 
  vars:
    config_dir: "/mnt/c/Users/{{ windows_username }}"

- name: Create WSL Notify Send dir
  become: true
  ansible.builtin.file:
    path: /usr/local/wsl-notify-send-{{ software_version_wsl_notify_send }}
    state: directory
    mode: "0755"

- name: Download and extract WSL Notify Send
  become: true
  ansible.builtin.unarchive:
    src: https://github.com/stuartleeks/wsl-notify-send/releases/download/v{{ software_version_wsl_notify_send }}/wsl-notify-send_windows_amd64.zip
    dest: /usr/local/wsl-notify-send-{{ software_version_wsl_notify_send }}
    remote_src: yes

- name: Map wslview to xdg-open
  become: true
  ansible.builtin.file:
    state: link
    src: /usr/local/wsl-notify-send-{{ software_version_wsl_notify_send }}/wsl-notify-send.exe
    dest: /usr/bin/wsl-notify-send
