# Make it use C-a, similar to screen..
unbind C-b
unbind l
set -g prefix C-a
bind-key C-a last-window
bind-key a send-prefix

# enable clipboard so shcopy can work
set -s set-clipboard on

#set-option -g default-command "command -v reattach-to-user-namespace >/dev/null 2>&1 && reattach-to-user-namespace -l $SHELL || $SHELL -l"

# Reload key
bind r source-file ~/.tmux.conf
bind '"' split-window -c '#{pane_current_path}'
bind % split-window -h -c '#{pane_current_path}'
bind c new-window -c '#{pane_current_path}'

set -g history-limit 1000

# escape right away
set -s escape-time 0

# 0 is too far from `
set -g base-index 1

setw -g monitor-activity off

# vim copy paste
setw -g mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'y' send -X copy-selection-and-cancel

# THEME
set -g status-bg black
set -g status-fg white
set -g status-interval 60
set -g status-left-length 30
set -g status-left '#[fg=green](#S) #(whoami)@#H#[default]'
set -g status-right ''

# Make color scheme right for tmux
set -g default-terminal "tmux-256color"

# Enable focus-events so vim's autoread works
set-option -g focus-events on

# reload certain env variables
{% if zsh_use_ssh_auth_sock_link %}
set-option -ga update-environment 'GNOME_KEYRING_PID GNOME_KEYRING_CONTROL'
# Use a symlink to look up SSH authentication
setenv -g SSH_AUTH_SOCK $HOME/.ssh/ssh_auth_sock
{% else %}
set-option -ga update-environment 'GNOME_KEYRING_PID GNOME_KEYRING_CONTROL SSH_AUTH_SOCK'
{% endif %}
#### COLOUR (Solarized 256)

# default statusbar colors
set-option -g status-bg colour235 #base02
set-option -g status-fg colour136 #yellow

# pane number display
set-option -g display-panes-active-colour colour33 #blue
set-option -g display-panes-colour colour166 #orange

# clock
set-window-option -g clock-mode-colour colour64 #green

# WARNING: Neither Tc nor RGB capability set. True colors are disabled. |'termguicolors'| won't work properly.
set-option -sa terminal-overrides '*:Ss=\E[%p1%d q:Se=\E[ q'

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'ChanderG/tmux-notify'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
