---
- name: Install package
  become: true
  when: ansible_os_family == "Debian"
  ansible.builtin.apt:
    allow_downgrade: true
    name: bat

- name: Install package
  become: true
  when: ansible_os_family == "Archlinux"
  ansible.builtin.pacman:
    name: bat

- name: Create config directory
  become: false
  ansible.builtin.file:
    path: "{{ env_home }}/.config/bat"
    state: directory
    mode: "0755"

- name: Create skins directory
  become: false
  ansible.builtin.file:
    path: "{{ env_home }}/.config/bat/themes"
    state: directory
    mode: "0755"

- name: Make sure config file exists
  become: false
  ansible.builtin.file:
    path: "{{ env_home }}/.config/bat/config"
    state: touch
    modification_time: preserve
    access_time: preserve
    mode: "0755"

- name: Download catppuccin-mocha
  become: false
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/catppuccin/bat/699f60fc8ec434574ca7451b444b880430319941/themes/{{ item | regex_replace(' ', '%20') }}
    dest: '{{ env_home }}/.config/bat/themes/{{ item }}'
    mode: '0600'
  loop:
    - Catppuccin Frappe.tmTheme
    - Catppuccin Latte.tmTheme
    - Catppuccin Macchiato.tmTheme
    - Catppuccin Mocha.tmTheme
  notify:
    - "Cache Clear"

- name: Make sure theme is set
  become: false
  ansible.builtin.lineinfile:
    path: "{{ env_home }}/.config/bat/config"
    search_string: '--theme='
    line: --theme="Catppuccin Mocha"
  notify:
    - "Cache Clear"

