- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    mode: 0644
    validate: 'visudo -cf %s'

- name: Install yay
  become: true
  quera.github.install_from_github:
    repo: Jguer/yay
    tag: "v{{ software_version_yay }}"
    version_regex: "{{ software_version_yay }}"
    version_command: yay --version
    asset_regex: ^yay.*\.tar.gz$
    move_rules:
      - src_regex: yay.*/yay$
        dst: /usr/bin/yay
        mode: "0755"
