---
  - name: create directories
    ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      owner: "{{ env_user }}"
      mode: 0700
    loop:
      - "{{ env_home }}/go"
      - "{{ env_home }}/git"
      - "{{ env_home }}/git/halkeye"
      - "{{ env_home }}/git/digitalocean"
