- name: Install ubuntu ppas
  become: true
  with_items: "{{ global_ubuntu_ppas }}"
  when: ansible_facts["os_family"] == "Debian"
  ansible.builtin.apt_repository:
    repo: "{{ item }}"
    state: present

- name: Install docker repo
  when: ansible_facts["os_family"] == "Debian"
  become: true
  block:
    - name: key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc

    - name: remove old style file
      file:
        path: "/etc/apt/sources.list.d/download_docker_com_linux_ubuntu.list"
        state: absent

    - name: create modern style sources
      copy:
        dest: "/etc/apt/sources.list.d/download_docker_com_linux_ubuntu.sources"
        mode: 0644
        owner: root
        content: |
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu/
          Suites: {{ ansible_facts['distribution_release'] }}
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc

- name: Install ubuntu packages
  become: true
  when: ansible_facts["os_family"] == "Debian"
  ansible.builtin.apt:
    name: "{{ global_ubuntu_packages }}"
    update_cache: yes
    state: present

- name: Install archlinux packages
  become: true
  when: ansible_facts["os_family"] == "Archlinux"
  ansible.builtin.pacman:
    name: "{{ global_archlinux_packages }}"
    update_cache: yes
    state: present

- name: Install centos packages
  become: true
  when: ansible_facts["os_family"] == "RedHat"
  ansible.builtin.yum:
    name: "{{ global_centos_packages }}"
    state: present

- name: Install darwin packages
  become: no
  when: ansible_facts["os_family"] == "Darwin"
  ansible.builtin.homebrew:
    name: "{{ global_darwin_packages }}"
    state: present

- name: Setup add-apt-repository
  become: true
  when: ansible_facts["os_family"] == "Debian"
  ansible.builtin.apt:
    name: software-properties-common
    state: present

- name: adding existing user '{{ env_user }}' to docker sudo
  when: ansible_facts["os_family"] == "Debian"
  become: true
  ansible.builtin.user:
    name: '{{ env_user }}'
    groups: docker
    append: yes
